# we might not need all of these but these are soms decent basics
fastapi
uvicorn[standard]  # ASGI server
sqlalchemy  
PyMySQL        # MySQL driver
jinja2             # For HTML templates
python-dotenv      # For managing environment variables
python-multipart   # Required by FastAPI i think